<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.name }} - blog </title>
</head>

<body>
    <nav>
        <a href = "/blog/restaurants/"> blog home res</a>
    </nav>
    <h2>{{ post.name }}</h2>
    <h4>{{ post.description }}</h4>
    <p>{{ post.avarage_score }}</p>
    <hr/>
    
    <h3>여기 댓글이 들어옴?? </h3>
   
</body>

</html>

